:root {
    --color-completed: rgba(0, 128, 0, 0.95);
    --color-not-started: rgba(227, 24, 70, 0.94);
    --color-in-progress: rgba(255, 195, 54, 0.97);
    --color-tm-white: rgba(255, 255, 255, 0.95);
}

* {
    font-size: 1rem;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f3f2f2;
    color: #333333;
}

.product-img {
    min-width: 150px;
    min-height: 150px;
    margin: auto;
}

.product-item {
    min-width: 300px;
}

.logo {
    width: 5.5rem;
    height: auto;
}

.nav-item{
    font-size: 1rem;
}

.register-login-card, .error-alert{
    min-width: 500px;
}

.bold{
    font-size: 1rem;
}
