<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <meta charset="UTF-8">
  <title th:text="${category.getName()}"></title>
</head>
<body>
<div layout:fragment="page-content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="row">
    <div class="my-3">
      <div class="card" >
        <div class="card-body" >
          <span class="h5" th:text="${category.getName()}"></span> - <span th:text="${category.getDescription()}"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" th:each="product:${products}">
      <div class="card">

        <img th:src="@{${product.getImageUrl()}}" class="card-img-top p-4 product-img" th:alt="${product.getName()}"/>
        <div class="card-body">
          <span class="card-title h6" th:text="${product.getName()}"></span>
          <small class="d-block" th:text="${product.getDescription()}">
          </small>
          <div class="row g-2">
            <div class="col">
              <span class="d-block h4" th:text="'$'+${product.getPrice()}"></span>

            </div>
            <div class="col"><button th:id="${product.getId()}" class="btn btn-outline-primary btn-sm px-2 btn-rounded float-end mx-2" data-mdb-ripple-color="dark" type="button"
                                     role="button" onclick="addToCart(this)">
              <i class="fa fa-cart-plus"></i>&nbsp;Add To Cart</button></div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div layout:fragment="scripts">
  <script>
    setActiveNavLink("#products-page");
  </script>
</div>
</body>
</html>