<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<div layout:fragment="page-content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    <span class="h5">Edit Product</span>
                </div>
            </div>
        </div>
    </div>

    <div class=" row" th:with="Util=${T(tz.co.vodacom.bujikun.sportyshoes.util.Util)}">

        <div class="card">
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-7">
                        <form method="post" enctype="multipart/form-data" th:action="@{/products/edit}"
                              th:object="${product}">
                            <div class="form-outline mb-3">
                                <input
                                        class="form-control"
                                        id="id"
                                        type="text"
                                        th:field="*{id}"
                                        th:value="${id}"
                                        aria-label="id"
                                        readonly
                                />
                                <label class="form-label" for="id">ID</label>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="createdOn" class="form-control" readonly th:field="*{createdOn}"
                                       th:value="${product.getCreatedOn()}"
                                />
                                <label class="form-label" for="createdOn">Created On</label>
                            </div>

                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="updatedOn" class="form-control" readonly th:field="*{createdOn}"
                                       th:value="${product.getUpdatedOn()}"/>
                                <label class="form-label" for="updatedOn">Last Updated On</label>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="name" class="form-control" th:field="*{name}" required/>
                                <label class="form-label" for="name">Name</label>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="number" id="price" class="form-control" th:field="*{price}" required
                                       step="0.01"/>
                                <label class="form-label" for="price">Price($)</label>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <input type="number" id="stock" class="form-control" th:field="*{count}" required/>
                                <label class="form-label" for="stock">Stock Count</label>
                            </div>
                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control" id="description" rows="4" th:field="*{description}"
                                          required></textarea>
                                <label class="form-label" for="description">Description</label>
                            </div>
                            <!-- Image input -->
                            <div class="form-outline mb-4">
                                <input type="file" id="image" class="file-upload-wrapper form-control" accept="image/*"
                                       data-mdb-file-upload="file-upload" name="image" required/>
                                <!--                                <label class="form-label" for="image">Product Image</label>-->
                            </div>
                            <!--                            &lt;!&ndash; Checked switch &ndash;&gt;-->
                            <!--                            <div class="form-check form-switch my-3">-->
                            <!--                                <input class="form-check-input" type="checkbox" role="switch" id="deleted" th:field="*{deleted}" />-->
                            <!--                                <label class="form-check-label" for="deleted">&nbsp;Deactivated</label>-->
                            <!--                            </div>-->
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success btn-block mb-4"><span>
                                <i class="fa fa-upload"></i></span>&nbsp;Submit
                            </button>
                        </form>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4">
                        <div>
                            <span class="h5 mb-5">Product Image</span>
                            <img th:src="@{${product.getImageUrl()}}" class="card-img-top product-img mt-3 mb-4"/>
                            <span class="ms-3 mt-4 h6" th:text="${'Image URI:  '+product.getImageUrl()}"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


<div layout:fragment="scripts">
    <script>
        setActiveNavLink("#categories-page");
    </script>
</div>
</body>
</html>