<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Link Categories</title>
</head>
<body>
<div layout:fragment="page-content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    <span class="h5" th:text="${product.getName()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class=" row g-1" th:with="Util=${T(tz.co.vodacom.bujikun.sportyshoes.util.Util)}">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <div>
                            <div class="h4 mb-3 p-2"><h4 class="ms-3">Categories Linked to this Product</h4></div>
                            <div class="list-group list-group-light">
                                <a th:href="@{/categories/{id}(id=${category.getId()})}"
                                   th:each="category:${product.getCategories()}"
                                   class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-secondary">
                                    <span class="align-baseline text-dark"
                                          th:text="${category.getName()}"></span></a>
                            </div>
                            <form method="post" th:action="@{/products/link-category}">
                                <input class="d-none" th:value="${product.getId()}" name="productId">
                                <div class="row g-2 mt-2 mb-4">

                                    <div class="col ">
                                        <select class="form-select" name="categoryId">
                                            <option th:value="${category.getId()}" th:each="category:${allCategories}">
                                                <span th:text="${category.getId()+'. '+category.getName()}"></span>
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col align-baseline">
                                        <button type="submit" class="btn btn-success btn-block" role="link"><span>
                                <i class="fa fa-link"></i></span>&nbsp;Link
                                        </button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                    <div class="col-3 d-sm-none">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div layout:fragment="scripts">
    <script>
        setActiveNavLink("#stock-page");
    </script>
</div>

</body>
</html>