<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div layout:fragment="page-content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    <span class="h5" th:text="${'User Details'}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end offset-10" th:if="${!isAdmin && !isSuperAdmin}" sec:authorize="hasAuthority('admin:add')">
        <form th:action="@{/users/make-admin}" method="post">
            <input class="d-none" th:value="${user.getId()}" name="userId"/>
            <button class="btn btn-success btn-lg my-1" role="button"   type="submit"
            ><span><i class="fa fa-user"></i>&nbsp;</span>Make Admin</button>
        </form>
    </div>

    <div class="d-flex justify-content-end offset-10" th:if="${isAdmin && !isSuperAdmin}" sec:authorize="hasAuthority('admin:revoke')">
        <form th:action="@{/users/revoke-admin}" method="post">
            <input class="d-none" th:value="${user.getId()}" name="userId"/>
            <button class="btn btn-success btn-lg my-1" role="button"   type="submit"
            ><span><i class="fa fa-user"></i>&nbsp;</span>Revoke Admin</button>
        </form>

    </div>
    <div class=" row g-2" th:with="Util=${T(tz.co.vodacom.bujikun.sportyshoes.util.Util)}">
        <div class="col-xl-6 mb-4">
            <div class="card" th:with="orderSize = ${userOrders.size()}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center flex-column">
                            <div class="ms-3 mb-2">
                                <h5>Personal Details</h5>
                                <p class="mb-1" ><span>User ID: </span><strong class="bold" th:text="${user.getId()}"></strong></p>
                                <p class="mb-1" ><span>Account Number: </span><strong class="bold" th:text="${user.getPaymentAccountNumber()}"></strong></p>
                                <p class="mb-1" ><span>Username: </span><strong class="text-bg-success p-1 text-white rounded bold" th:text="${user.getUsername()}"></strong></p>
                                <p class="mb-1" ><span>Email: </span><strong class="bold" th:text="${user.getEmail()}"></strong></p>
                                <p class="mb-1" ><span>City: </span><strong class="bold" th:text="${user.getCity()}"></strong></p>
                                <p class="mb-3" ><span>Orders: </span><strong class="bold" th:text="${orderSize}"></strong></p>
                                <h5>Account Status</h5>
                                <p class="badge badge-info p-1 my-2 me-2" th:text="'Account Expired: '+${user.getIsAccountExpired()}"></p>
                                <p class="badge badge-info p-1 my-2 me-2" th:text="'Account Locked: '+${user.getIsAccountLocked()}"></p>
                                <p class="badge badge-info p-1 my-2 me-2" th:text="'Password Expired: '+${user.getIsCredentialsExpired()}"></p>
                                <p class="badge badge-info p-1 my-2 me-2" th:text="'Account Enabled: '+${user.isEnabled}"></p>
                                <h5>Permissions Granted </h5>
                                <p class="badge badge-warning p-1 my-2 me-2" th:text="${permission.toUpperCase()}" th:each="permission:${userPermissions}"></p>

                            </div>

                            <div class="ms-3 mb-2">

                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <div class="text-muted small"
                         th:text="'Created On: '+${Util.convertDateTimeToString(user.getCreatedOn())}">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-4" th:if="${userOrders.size()<=0}">
            <div class="alert alert-danger fade show error-alert" role="alert">
                <strong><i class="fas fa-stop-circle"></i>&nbsp;&nbsp;<span></span>This user has not placed any orders</strong>
            </div>
        </div>
        <div class="col-xl-6 mb-4" th:if="${userOrders.size()>0}">
            <div class="h4 mb-3 p-2 card"><span class="ms-3">Orders</span></div>
            <div class="list-group list-group-light">
                <a th:href="@{/orders/view/{id}(id=${order.getId()})}" th:each="order:${userOrders}"
                   class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-secondary">
                    <span class="align-baseline text-dark d-block" th:text="'ID: '+${order.getId()+' -- Total Price: $'+order.getTotalPrice()}"

                    ></span>
                    <span class="badge badge-danger p-1" th:text="${'Order Items: '+order.getLineItems().size()}"></span>
                </a>
            </div>


        </div>


    </div>

</div>



<div layout:fragment="scripts">
    <script>
        setActiveNavLink("#users-page");
    </script>
</div>
</body>
</html>