.login{
    display: flex;
    justify-content: center;
}

.inner-container{
    margin-top: 8rem;
    min-width: 400px;
    max-width: 60vw;
    max-height: 600px;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .5rem 1rem .5rem #f4f2f2;
}

.close-alert-btn{
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background-color: #990f1de3; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
}