.login{
    display: flex;
    justify-content: center;
}

.inner-container{
    margin-top: 8rem;
    min-width: 400px;
    max-width: 60vw;
    max-height: 600px;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .5rem 1rem .5rem #f4f2f2;
}

.close-alert-btn{
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background-color: #990f1de3; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
}

.navbar-content{
    display: flex;
    justify-content:start;
    align-items: center;
    margin: 0 0 0 .4rem;
}

.navbar-items{
    /* vertical-align: middle; */
    margin-left: 2rem;
}
.navbar-list{
    vertical-align: middle;
}
.navbar-item,.navbar-item-logout{
    list-style-type: none;
    display: inline-block;
    margin: .2rem .2rem;
    padding: .1rem;
}

.brand{
    margin: .2rem .4rem;
    padding: .1rem; 
    font-weight: 600;
}
.navbar-item>a:visited,.navbar-item-logout>a:visited{
color: #333;  
}

.navbar-item>a:link, .navbar-item-logout>a:link{
    color: #333;  
    text-decoration: none; 
    padding: .8rem;

}

.navbar-item>a:hover,.navbar-item>a:active{
background-color: rgb(179, 224, 179);
color: rgb(10, 109, 10);
font-weight: 600;
}

.navbar-item-logout>a:hover,.navbar-item-logout>a:active{
background-color: rgb(199, 39, 21);
color: rgb(253, 250, 250);
font-weight: 600;
}
