.login{
    display: flex;
    justify-content: center;
}

.inner-container{
    margin-top: 8rem;
    min-width: 400px;
    max-width: 60vw;
    max-height: 600px;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .5rem 1rem .5rem #f4f2f2;
}

.login-header{
    color: white;
}