<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sporty Shoes E-Commerce</title>
    <link rel="preload" as="font" href="/font/Roboto-Regular.ttf"
          type="font/ttf" crossorigin/>
    <link rel="stylesheet" href="/webjars/mdb-ui-kit/6.2.0/css/mdb.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.1/css/all.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <!--    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>-->
    <style>
        @font-face {
            font-family: Roboto;
            font-display: swap;
            src: url("/font/Roboto-Regular.ttf") format("truetype");
        }
    </style>
    <link rel="preload" as="font" href="/font/Roboto-Regular.ttf"
          type="font/ttf" crossorigin/>
</head>
<body>
<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand ms-2 me-5" th:href="@{/}">
                    <img src="/img/logo/logo_black.png" alt="logo" class="logo" style="margin-top: -1px;">
                </a>

                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtons"
                        aria-controls="navbarButtons"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtons">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/" id="home-page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products" id="products-page">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders" id="orders-page">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories" id="categories-page">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/stock" id="stock-page">Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users" id="users-page">Users</a>
                        </li>
                    </ul>
                    <!-- Left links -->

                    <div class="d-flex align-items-center">
                        <form action="/cart" method="post">
                            <input class="d-none" id="cart-input" name="cart">
                            <a
                                    class="px-3"
                                    role="button"
                                    id="submitCart"
                            ><i class="fas fa-shopping-cart fa-2x"></i>
                                <span class="badge rounded-pill badge-notification bg-danger" id="cartNotification">0</span>
                            </a>
                        </form>
                        <div class="d-flex align-items-center">
                            <a type="button" class="btn btn-primary px-3 me-2">
                                LOG IN
                            </a>
                            <a type="button" class="btn btn-secondary me-3">
                                REGISTER
                            </a>

                        </div>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>

    <main class="mb-5">
        <div class="row my-3 mb-8">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" layout:fragment="page-content">
                <!--  Page content goes here!-->
            </div>
        </div>
    </main>

    <footer  class="fixed-bottom mt-5 bg-white">
        <!-- Copyright -->
        <div class="text-center p-4">
            © 2021 Newton Bujiku - bujikun@vodacom.co.tz
        </div>
        <!-- Copyright -->
    </footer>


</div>
<script src="/webjars/mdb-ui-kit/6.2.0/js/mdb.min.js"></script>
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/cart.js"></script>
<div layout:fragment="scripts">
</div>
</body>

</html>