<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div layout:fragment="page-content" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    <span class="h5">My Orders</span>
                </div>
            </div>
        </div>
    </div>

    <div class=" ms-6 mb-4 me-6">
        <div class="alert alert-danger fade show error-alert d-flex justify-content-between" role="alert"
             sec:authorize="isAuthenticated()" th:if="${orders.size()<=0}">
            <strong><i class="fas fa-stop-circle"></i>&nbsp;&nbsp;<span>You have not placed any orders!</span></strong>
            <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class=" row" th:with="Util=${T(tz.co.vodacom.bujikun.sportyshoes.util.Util)}">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4" th:each="order:${orders}">
                <div class="card" th:with="orderItemsSize = ${order.getLineItems().size()}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="rounded bg-secondary text-white p-3" th:text="${order.getId()}">

                                </div>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1" th:text="'Total Price: $'+${order.getTotalPrice()}"></p>
                                    <p class="text-muted mb-0 badge badge-success"
                                       th:text="'Items: '+${orderItemsSize}"></p>
                                </div>
                            </div>
                            <a class="badge rounded-pill badge-primary py-2 "

                               th:href="@{/orders/view/{id}(id=${order.getId()})}"><span><i
                                    class="fa fa-eye"></i></span>
                                <span class="align-baseline">View</span></a>

                        </div>
                    </div>
                    <div
                            class="card-footer border-0 bg-light p-2 d-flex justify-content-start">
                        <div class="text-muted small"
                             th:text="'Created On: '+${Util.convertDateToString(order.getCreatedOn())}">

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div layout:fragment="scripts">
        <script>
            setActiveNavLink("#orders-page");
        </script>
    </div>
</div>
</body>
</html>